@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

#toutuguanggao{
    width:100%;
    height: 10%;
    max-height:500px;
}

.shiweishuji{
    width: 94%;
    height: 36vmax;
    margin: 10px auto;
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
}
.shiweishujibeijing{
    width: 34%;
    height: 82%;
    background: #910000;
    top: 9px;
    left: 7px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: absolute;
}
.shijiwenzi{
    top: 18px;
    width: 203px;
    left: 140px;
    position: absolute;
    font-size: 13px;
    letter-spacing: 2px;
}
.shijiwenzi a{
    color:#6e2303;
}
.toubutupian{
    width: 83%;
    margin-left: 6%;
    position: absolute;
}
.neirong{
    width: 94%;
}
.col-xs-4{
    position: relative;
}
.wenziwenzi{
    font-size: 1px;
    text-indent: 24px;
    position: absolute;
    top: -8px;
    font-family: cursive;
    line-height: 12.5px;
}
.wenziwenziwenzi{
    font-size: 12px;
    text-indent: 21px;
    position: absolute;
    top: -8px;
    font-family: cursive;
    line-height: 13.5px;
}
.col-xs-4 p{
    height: 7px;
    width: 110px;
    position: absolute;
    color: #e60000;
    top: 103px;
    left: 31px;
    line-height: 24px;
    font-size: 1.1px;
    letter-spacing: -2px;
    text-indent: -20px;
    transform: scale(0.74);
}